@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
 
body {
  -webkit-animation: fade-in 1.5s linear; /* Safari 4+ */
  -moz-animation: fade-in 1.5s linear; /* Fx 5+ */
  -o-animation: fade-in 1.5s linear; /* Opera 12+ */
  animation: fade-in 1.5s linear; /* IE 10+, Fx 29+ */
}

body {
    margin: 0;
    background-color: #c0c0c0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #424242;
    box-shadow: 0px 15px 30px 15px #000000;
    border: none;
    font-size: 27px;
    color: #ffffff;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 190px;
}

.door {
    cursor: pointer;
}

.cracks {
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: -100px;
    background-repeat: no-repeat;
}

.screamer {
    position: absolute;
    top: 0px;
    background-size: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #424242;
    box-shadow: 0px -15px 30px 15px #000000;
    border: none;
    font-size: 20px;
}

.footer p {
    color: #ffffff;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.footer a:hover,
.footer a:focus {
    background-color: #555555;
}

.footer .development {
    display: flex;
    margin: 0;
}

.tremor {
    -webkit-animation: 0.1s tremor ease-out 5;  
    animation: 0.1s tremor ease-out 5;    
}

@keyframes tremor {
	0%, 25% {
		left: -1px;
        -webkit-transform: translateX(-4%) translateY(-4%);
        transform: translateX(-4%) translateY(-4%);
	}
	50%, 100% {
		left: 1px;
        -webkit-transform: translateX(10%) translateY(10%);
        transform: translateX(10%) translateY(10%);
	}
}